{% load static %}
<!DOCTYPE HTML>
<html lang="de">
<head>
    <title>404</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="height=device-height, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body class="subpage">


<!-- Header -->
<header id="header">
    <div class="logo"><a href="{% url 'index' %}"><img
            src="{% static 'images/logo_final_small.png' %}"
            alt="studio fantasia logo"/></a>
    </div>
</header>

<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <h2 id="headerwhite">Oh no!</h2>
        </header>
    </div>
</section>

<section id="two" class="wrapper style2">
    <section id="photos">

        <p>This site is not available!</p>

    </section>
</section>

<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"
                   rel="noopener noreferrer"><span class="label"></span></a></li>
            <li><a href="https://instagram.com/ballettstudio_fantasia" target="_blank" class="fa fa-instagram"
                   rel="noopener noreferrer"><span
                    class="label"></span></a></li>
            <li><a href="mailto:office@studiofantasia.at" target="_blank" class="fa fa-envelope-o"><span
                    class="label"></span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Tanzstudio Fantasia. Alle Rechte Vorbehalten.
    </div>
</footer>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'js/skel.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
</script>

</body>
<script>

</script>
</html>
